In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('uber_rides_sample.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB

In [5]:
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [6]:
200000/(2015-2009)/12
#We need roughly 3000 yello taxi data for each month.

2777.777777777778

In [7]:
df = pd.read_csv('2009_weather.csv')

D:\Anon\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 123 columns):
 #    Column                                        Dtype
---   ------                                        -----
 0    STATION                                       int64
 1    DATE                                          object
 2    LATITUDE                                      float64
 3    LONGITUDE                                     float64
 4    ELEVATION                                     float64
 5    NAME                                          object
 6    REPORT_TYPE                                   object
 7    SOURCE                                        object
 8    HourlyAltimeterSetting                        object
 9    HourlyDewPointTemperature                     object
 10   HourlyDryBulbTemperature                      float64
 11   HourlyPrecipitation                           object
 12   HourlyPresentWeatherType                      object
 13   HourlyPressureChange                          object
 14   HourlyPressureTendency                        float64
 15   HourlyRelativeHumidity                        float64
 16   HourlySkyConditions                           float64
 17   HourlySeaLevelPressure                        object
 18   HourlyStationPressure                         float64
 19   HourlyVisibility                              float64
 20   HourlyWetBulbTemperature                      float64
 21   HourlyWindDirection                           object
 22   HourlyWindGustSpeed                           float64
 23   HourlyWindSpeed                               float64
 24   Sunrise                                       float64
 25   Sunset                                        float64
 26   DailyAverageDewPointTemperature               float64
 27   DailyAverageDryBulbTemperature                float64
 28   DailyAverageRelativeHumidity                  float64
 29   DailyAverageSeaLevelPressure                  float64
 30   DailyAverageStationPressure                   float64
 31   DailyAverageWetBulbTemperature                float64
 32   DailyAverageWindSpeed                         float64
 33   DailyCoolingDegreeDays                        float64
 34   DailyDepartureFromNormalAverageTemperature    float64
 35   DailyHeatingDegreeDays                        float64
 36   DailyMaximumDryBulbTemperature                float64
 37   DailyMinimumDryBulbTemperature                float64
 38   DailyPeakWindDirection                        float64
 39   DailyPeakWindSpeed                            float64
 40   DailyPrecipitation                            float64
 41   DailySnowDepth                                float64
 42   DailySnowfall                                 float64
 43   DailySustainedWindDirection                   float64
 44   DailySustainedWindSpeed                       float64
 45   DailyWeather                                  object
 46   MonthlyAverageRH                              float64
 47   MonthlyDaysWithGT001Precip                    float64
 48   MonthlyDaysWithGT010Precip                    float64
 49   MonthlyDaysWithGT32Temp                       float64
 50   MonthlyDaysWithGT90Temp                       float64
 51   MonthlyDaysWithLT0Temp                        float64
 52   MonthlyDaysWithLT32Temp                       float64
 53   MonthlyDepartureFromNormalAverageTemperature  float64
 54   MonthlyDepartureFromNormalCoolingDegreeDays   float64
 55   MonthlyDepartureFromNormalHeatingDegreeDays   float64
 56   MonthlyDepartureFromNormalMaximumTemperature  float64
 57   MonthlyDepartureFromNormalMinimumTemperature  float64
 58   MonthlyDepartureFromNormalPrecipitation       float64
 59   MonthlyDewpointTemperature                    float64
 60   MonthlyGreatestPrecip                         float64
 61   MonthlyGreatestPrecipDate                     float64
 62   MonthlyGreatestSnowDepth                      float64
 63   MonthlyGreatestSnowDepthDate                  float64
 64   MonthlyGreatestSnowfall                       float64
 65   MonthlyGreatestSnowfallDate                   float64
 66   MonthlyMaxSeaLevelPressureValue               float64
 67   MonthlyMaxSeaLevelPressureValueDate           float64
 68   MonthlyMaxSeaLevelPressureValueTime           float64
 69   MonthlyMaximumTemperature                     float64
 70   MonthlyMeanTemperature                        float64
 71   MonthlyMinSeaLevelPressureValue               float64
 72   MonthlyMinSeaLevelPressureValueDate           float64
 73   MonthlyMinSeaLevelPressureValueTime           float64
 74   MonthlyMinimumTemperature                     float64
 75   MonthlySeaLevelPressure                       float64
 76   MonthlyStationPressure                        float64
 77   MonthlyTotalLiquidPrecipitation               float64
 78   MonthlyTotalSnowfall                          float64
 79   MonthlyWetBulb                                float64
 80   AWND                                          float64
 81   CDSD                                          float64
 82   CLDD                                          float64
 83   DSNW                                          float64
 84   HDSD                                          float64
 85   HTDD                                          float64
 86   NormalsCoolingDegreeDay                       float64
 87   NormalsHeatingDegreeDay                       float64
 88   ShortDurationEndDate005                       float64
 89   ShortDurationEndDate010                       float64
 90   ShortDurationEndDate015                       float64
 91   ShortDurationEndDate020                       float64
 92   ShortDurationEndDate030                       float64
 93   ShortDurationEndDate045                       float64
 94   ShortDurationEndDate060                       float64
 95   ShortDurationEndDate080                       float64
 96   ShortDurationEndDate100                       float64
 97   ShortDurationEndDate120                       float64
 98   ShortDurationEndDate150                       float64
 99   ShortDurationEndDate180                       float64
 100  ShortDurationPrecipitationValue005            float64
 101  ShortDurationPrecipitationValue010            float64
 102  ShortDurationPrecipitationValue015            float64
 103  ShortDurationPrecipitationValue020            float64
 104  ShortDurationPrecipitationValue030            float64
 105  ShortDurationPrecipitationValue045            float64
 106  ShortDurationPrecipitationValue060            float64
 107  ShortDurationPrecipitationValue080            float64
 108  ShortDurationPrecipitationValue100            float64
 109  ShortDurationPrecipitationValue120            float64
 110  ShortDurationPrecipitationValue150            float64
 111  ShortDurationPrecipitationValue180            float64
 112  REM                                           object
 113  BackupDirection                               object
 114  BackupDistance                                float64
 115  BackupDistanceUnit                            object
 116  BackupElements                                object
 117  BackupElevation                               float64
 118  BackupEquipment                               object
 119  BackupLatitude                                float64
 120  BackupLongitude                               float64
 121  BackupName                                    object
 122  WindEquipmentChangeDate                       object
dtypes: float64(103), int64(1), object(19)
memory usage: 10.4+ MB

In [13]:
df.iloc[:,10]

0        18.0
1        18.0
2        18.0
3        18.0
4        18.0
         ...
11118    34.0
11119    34.0
11120    34.0
11121    34.0
11122    34.0
Name: HourlyDryBulbTemperature, Length: 11123, dtype: float64

Which columns do we need?